body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #dedede;
}

#root {
  height: 100%;
  width: 100%;
}
